@import '_content/Microsoft.Fast.Components.FluentUI/Microsoft.Fast.Components.FluentUI.bundle.scp.css';

/* /Components/NavMenu.razor.rz.scp.css */
.navigation[b-lsu3cnntij] {
    background-color: var(--fill-color);
    color: var(--neutral-foreground-rest);
    z-index: 0;
    width: 160px;
}

.navigation-inner[b-lsu3cnntij] {
    padding-left: calc(var(--design-unit) * 3px);
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 1;
}

    .navigation-inner > ul[b-lsu3cnntij] {
        list-style: none;
        padding: 0;
    }

        .navigation-inner > ul > li[b-lsu3cnntij] {
            margin-bottom: 10px;
        }

    .navigation-inner h1[b-lsu3cnntij] {
        font-size: var(--type-ramp-plus-1-font-size);
        line-height: var(--type-ramp-plus-1-line-height);
        padding: 15px calc((10 + (var(--design-unit) * 2 * var(--density))) * 1px);
        margin: 0;
    }

    .navigation-inner fluent-anchor[b-lsu3cnntij] {
        width: 100%;
    }

        .navigation-inner fluent-anchor[b-lsu3cnntij]::part(control) {
            justify-content: start;
        }

.nav-item[b-lsu3cnntij] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-lsu3cnntij] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-lsu3cnntij] {
        padding-bottom: 1rem;
    }

    .nav-item[b-lsu3cnntij]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-lsu3cnntij]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-lsu3cnntij]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (max-width: 1024px) {
    .navbar-toggler[b-lsu3cnntij] {
        display: none;
    }

    .navigation[b-lsu3cnntij] {
        width: 80px;
    }

    .nav-item-text[b-lsu3cnntij] {
        display: none;
    }

    .navigation-inner > ul > li:hover .nav-item-text[b-lsu3cnntij] {
        display: inherit;
    }

    .collapse[b-lsu3cnntij] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Components/PageHeader.razor.rz.scp.css */
.page-title-group[b-9k3pfi47ud] {
    margin-bottom: 20px;
    width: 100%;
}

.page-title[b-9k3pfi47ud] {
    margin: 0;
    margin-bottom: 5px;
}

.page-subtitle[b-9k3pfi47ud] {
    margin: 0;
    margin-bottom: 5px;
}
/* /Components/Stack.razor.rz.scp.css */
.stack-vertical[b-cdvh80do5t] {
    display: flex;
    flex-direction: column;
}

.stack-horizontal[b-cdvh80do5t] {
    display: flex;
    flex-direction: row;
}
/* /Events/NostrDirectEventDialog.razor.rz.scp.css */
.content[b-7h6x2n96m0] {
    padding: 0;
    margin-left: calc(var(--design-unit) * 6px);
    margin-right: calc(var(--design-unit) * 6px);
    margin-top: calc(var(--design-unit) * 6px);
}

.buttons[b-7h6x2n96m0] {
    padding-top: 10px;
}

.error-message[b-7h6x2n96m0] {
    color: var(--error);
}
/* /Events/NostrEventEdit.razor.rz.scp.css */

/* /Events/NostrEventEditJsonDialog.razor.rz.scp.css */
[b-0tyumfk97n] .monaco-editor-container {
    width: 100%;
    height: 400px;
}

[b-0tyumfk97n] .monaco-editor-background {
    background-color: #fbfbfb;
}

[b-0tyumfk97n] .monaco-editor .margin {
    background-color: #fbfbfb;
}

[b-0tyumfk97n] .decorationsOverviewRuler {
    background-color: #fbfbfb;
}

.content[b-0tyumfk97n] {
    padding: 0;
    margin-left: calc(var(--design-unit) * 6px);
    margin-right: calc(var(--design-unit) * 6px);
    margin-top: calc(var(--design-unit) * 6px);
}

.buttons[b-0tyumfk97n] {
    padding-top: 10px;
}

.error-message[b-0tyumfk97n] {
    color: var(--error);
}
/* /Events/NostrEventTable.razor.rz.scp.css */
.local-link[b-ebjfxbjs34] {
    cursor: pointer;
    color: var(--neutral-foreground-rest);
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}
/* /Events/NostrFilterEdit.razor.rz.scp.css */

/* /Events/NostrFilterEditJsonDialog.razor.rz.scp.css */
[b-tl4rs381ly] .monaco-editor-container {
    width: 100%;
    height: 400px;
}

[b-tl4rs381ly] .monaco-editor-background {
    background-color: #fbfbfb;
}

[b-tl4rs381ly] .monaco-editor .margin {
    background-color: #fbfbfb;
}

[b-tl4rs381ly] .decorationsOverviewRuler {
    background-color: #fbfbfb;
}

.content[b-tl4rs381ly] {
    padding: 0;
    margin-left: calc(var(--design-unit) * 6px);
    margin-right: calc(var(--design-unit) * 6px);
    margin-top: calc(var(--design-unit) * 6px);
}

.buttons[b-tl4rs381ly] {
    padding-top: 10px;
}

.error-message[b-tl4rs381ly] {
    color: var(--error);
}
/* /Events/NostrOkTable.razor.rz.scp.css */
.local-link[b-vjetv6etv0] {
    cursor: pointer;
    color: var(--neutral-foreground-rest);
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}
/* /Pages/Converter.razor.rz.scp.css */
.conversion-group[b-9uim3a6i82] {
    padding-left: 20px;
    max-width: 550px;
    width: 100%;
}
/* /Pages/Index.razor.rz.scp.css */
fluent-card[b-3i6j8ohbow] {
    --card-height: 400px;
    --card-width: 500px;
    padding: 20px;
    margin: 12px;
}

.class-override[b-3i6j8ohbow] {
    height: 163px;
    width: 300px;
}

.state-override[b-3i6j8ohbow] {
    --card-width: 350px;
    --card-height: 300px;
    --elevation: 6;
}

    .state-override:hover[b-3i6j8ohbow] {
        --elevation: 12;
    }

.contents[b-3i6j8ohbow] {
    display: flex;
    flex-direction: column;
}
/* /Pages/Keys.razor.rz.scp.css */
.conversion-group[b-cfyht0yj0u] {
    padding-left: 20px;
    max-width: 550px;
    width: 100%;
    margin-bottom: 20px;
}

.keys[b-cfyht0yj0u] {
    list-style-type: none;
}
/* /Pages/Publisher.razor.rz.scp.css */
.page-layout[b-cmvy4f6s7c] {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: minmax(400px, 1fr) 2fr;
    grid-template-rows: max-content;
    column-gap: 40px;
}
/* /Pages/QueryTool.razor.rz.scp.css */
.page-layout[b-cvvmvghx45] {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 2fr;
    grid-template-rows: max-content;
    column-gap: 40px;
}
/* /Pages/Relay.razor.rz.scp.css */
.operation-button[b-3i7lscowlg] {
    align-self: end;
}
/* /Signing/NostrSignatureValidator.razor.rz.scp.css */
.signature[b-s84j7feotd] {
    width: 100%;
}

.sig-valid[b-s84j7feotd] {
    padding: 10px;
    border: dotted 2px var(--success);
    border-radius: 5px;
    color: var(--success);
}

.sig-invalid[b-s84j7feotd] {
    padding: 10px;
    border: dotted 2px var(--error);
    border-radius: 5px;
    color: var(--error);
}
