@import '_content/Microsoft.Fast.Components.FluentUI/Microsoft.Fast.Components.FluentUI.bundle.scp.css';

/* /Components/NavMenu.razor.rz.scp.css */
.navigation[b-mqb85nvxcg] {
    background-color: var(--fill-color);
    color: var(--neutral-foreground-rest);
    z-index: 0;
    width: 160px;
}

.navigation-inner[b-mqb85nvxcg] {
    padding-left: calc(var(--design-unit) * 3px);
    position: fixed;
    top: 70px;
    left: 0;
}

    .navigation-inner > ul[b-mqb85nvxcg] {
        list-style: none;
        padding: 0;
    }

        .navigation-inner > ul > li[b-mqb85nvxcg] {
            margin-bottom: 10px;
        }

    .navigation-inner h1[b-mqb85nvxcg] {
        font-size: var(--type-ramp-plus-1-font-size);
        line-height: var(--type-ramp-plus-1-line-height);
        padding: 15px calc((10 + (var(--design-unit) * 2 * var(--density))) * 1px);
        margin: 0;
    }

    .navigation-inner fluent-anchor[b-mqb85nvxcg] {
        width: 100%;
    }

        .navigation-inner fluent-anchor[b-mqb85nvxcg]::part(control) {
            justify-content: start;
        }

.nav-item[b-mqb85nvxcg] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-mqb85nvxcg] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-mqb85nvxcg] {
        padding-bottom: 1rem;
    }

    .nav-item[b-mqb85nvxcg]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-mqb85nvxcg]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-mqb85nvxcg]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (max-width: 1024px) {
    .navbar-toggler[b-mqb85nvxcg] {
        display: none;
    }

    .navigation[b-mqb85nvxcg] {
        width: 80px;
    }

    .nav-item-text[b-mqb85nvxcg] {
        display: none;
    }

    .navigation-inner > ul > li:hover .nav-item-text[b-mqb85nvxcg] {
        display: inherit;
    }

    .collapse[b-mqb85nvxcg] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Components/PageHeader.razor.rz.scp.css */
.page-title-group[b-jo68vo04sd] {
    margin-bottom: 20px;
    width: 100%;
}

.page-title[b-jo68vo04sd] {
    margin: 0;
    margin-bottom: 5px;
}

.page-subtitle[b-jo68vo04sd] {
    margin: 0;
    margin-bottom: 5px;
}
/* /Components/Stack.razor.rz.scp.css */
.stack-vertical[b-g88z82cixq] {
    display: flex;
    flex-direction: column;
}

.stack-horizontal[b-g88z82cixq] {
    display: flex;
    flex-direction: row;
}
/* /Pages/Converter.razor.rz.scp.css */
.conversion-group[b-m70lnbtcfw] {
    padding-left: 20px;
    max-width: 550px;
    width: 100%;
}
/* /Pages/Index.razor.rz.scp.css */
fluent-card[b-n7e16r3r7k] {
    --card-height: 400px;
    --card-width: 500px;
    padding: 20px;
    margin: 12px;
}

.class-override[b-n7e16r3r7k] {
    height: 163px;
    width: 300px;
}

.state-override[b-n7e16r3r7k] {
    --card-width: 350px;
    --card-height: 300px;
    --elevation: 6;
}

    .state-override:hover[b-n7e16r3r7k] {
        --elevation: 12;
    }

.contents[b-n7e16r3r7k] {
    display: flex;
    flex-direction: column;
}
/* /Pages/Keys.razor.rz.scp.css */
.conversion-group[b-s2jod6oxhn] {
    padding-left: 20px;
    max-width: 550px;
    width: 100%;
    margin-bottom: 20px;
}

.keys[b-s2jod6oxhn] {
    list-style-type: none;
}

.sig-valid[b-s2jod6oxhn] {
    padding: 10px;
    border: dotted 2px var(--success);
    border-radius: 10px;
    color: var(--success);
}

.sig-invalid[b-s2jod6oxhn] {
    padding: 10px;
    border: dotted 2px var(--error);
    border-radius: 10px;
    color: var(--error);
}
/* /Pages/QueryTool.razor.rz.scp.css */
.filter-form[b-irjrdv63qb] {
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 2fr;
    grid-template-rows: max-content;
    column-gap: 40px;
}
/* /Pages/Relay.razor.rz.scp.css */
.operation-button[b-7yeq4ntgro] {
    align-self: end;
}
