.conversion-group {
    padding-left: 20px;
    max-width: 550px;
    width: 100%;
    margin-bottom: 20px;
}

.keys {
    list-style-type: none;
}

.sig-valid {
    padding: 10px;
    border: dotted 2px var(--success);
    border-radius: 10px;
    color: var(--success);
}

.sig-invalid {
    padding: 10px;
    border: dotted 2px var(--error);
    border-radius: 10px;
    color: var(--error);
}
