@page "/publisher"

<Stack Orientation="Orientation.Vertical">

    <PageHeader Title="Publisher" Subtitle="Publish Nostr events"></PageHeader>

    <div class="page-layout">
        
        <NostrEventSend></NostrEventSend>
        
        <NostrOkTable></NostrOkTable>

    </div>

</Stack>

@code
{
}
