@page "/"


<h1>Welcome to the Nostr</h1>

<h4>This application presents capabilities of the new C# library for <a href="https://nostr.com">Nostr protocol</a></h4>

<p>
    <div>Library can be downloaded from Nuget <a href="https://www.nuget.org/packages/Nostr.Client">Nostr.Client</a></div>
    <div>Source code and more info in <a href="https://github.com/marfusios/nostr-client-websocket">Github Repository</a></div>
</p>

<p>
    The app runs in your browser only with no server and is written in <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor Webassembly</a>
</p>