@page "/query"
@using Nostr.Client.Requests
@using Newtonsoft.Json
@using Nostr.Client.Json
@using System.Text
@inject NavigationManager Navigation
@implements IDisposable

<Stack Orientation="Orientation.Vertical">
    
    <PageTitle>@_pageTitle</PageTitle>

    <PageHeader Title="Query Tool" Subtitle="Request data from the connected relay" DisplayBrowserTitle="false"></PageHeader>
        
    <div class="page-layout">
        
        <NostrFilterSend @bind-Filter="_filter" FilterSent="OnFilterChanged"></NostrFilterSend>
        <NostrEventTable></NostrEventTable>

    </div>

</Stack>

@code {
    private NostrFilter _filter = new()
    {
        Kinds = new[]
        {
            NostrKind.Metadata,
            NostrKind.ShortTextNote
        },
            Since = DateTimeUtils.UtcNowOnlyHours().AddHours(-12),
            Until = DateTimeUtils.UtcNowOnlyHours().AddHours(4),
            Authors = new[]
        {
            "npub1dd668dyr9un9nzf9fjjkpdcqmge584c86gceu7j97nsp4lj2pscs0xk075",
            "npub1sg6plzptd64u62a878hep2kev88swjh3tw00gjsfl8f237lmu63q0uf63m",
            "npub1qny3tkh0acurzla8x3zy4nhrjz5zd8l9sy9jys09umwng00manysew95gx",
            "npub1dergggklka99wwrs92yz8wdjs952h2ux2ha2ed598ngwu9w7a6fsh9xzpc"
        }
    };

    private string? _appliedQueryBase64;
    private string _pageTitle = "Query Tool";

    [Parameter]
    [SupplyParameterFromQuery(Name = "base64")]
    public string? QueryBase64 { get; set; }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;

        if (string.IsNullOrWhiteSpace(QueryBase64))
        {
            return;
        }

        var deserialized = DeserializeFilter(QueryBase64);
        if (deserialized != null)
            _filter = deserialized;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        if (QueryBase64 == _appliedQueryBase64)
        {
            // query param wasn't changed from outside, do nothing
            return;
        }

        var deserialized = DeserializeFilter(QueryBase64);
        if (deserialized == null) 
            return;

        _filter = deserialized;
        _appliedQueryBase64 = QueryBase64;
        StateHasChanged();
    }

    private void OnFilterChanged()
    {
        SerializeFilterToUrl(false);
    }

    private void SerializeFilterToUrl(bool replace)
    {
        var serialized = SerializeFilter(_filter);
        if (serialized == _appliedQueryBase64)
        {
            // query param was changed from outside, do nothing
            return;
        }

        _appliedQueryBase64 = serialized;
        _pageTitle = "Query" +
                           $"{NonNull("k", _filter.Kinds)}" +
                           $"{NonNull("l", _filter.Limit)}" +
                           $"{NonNull("a", _filter.Authors)}" +
                           $"{NonNull("i", _filter.Ids)}" +
                           $"{NonNull("e", _filter.E)}" +
                           $"{NonNull("p", _filter.P)}";
        var newUrl = Navigation.GetUriWithQueryParameter("base64", _appliedQueryBase64);
        Navigation.NavigateTo(newUrl, false, replace);
    }

    private static string NonNull<T>(string label, T? item)
    {
        if (item == null)
            return string.Empty;

        return $" {label}:{item}";
    }

    private static string NonNull<T>(string label, T[]? items)
    {
        if (items == null || !items.Any())
            return string.Empty;

        return $" {label}:{items.Length}";
    }

    private static string SerializeFilter(NostrFilter filter)
    {
        var serialized = JsonConvert.SerializeObject(filter, NostrSerializer.Settings);
        var base64 = Convert.ToBase64String(Encoding.UTF8.GetBytes(serialized));
        return base64;
    }

    private static NostrFilter? DeserializeFilter(string? filter)
    {
        if (filter == null)
            return null;

        try
        {
            var filterSerialized = Encoding.UTF8.GetString(Convert.FromBase64String(filter));
            var deserialized = JsonConvert.DeserializeObject<NostrFilter>(filterSerialized, NostrSerializer.Settings);
            return deserialized;
        }
        catch (Exception e)
        {
            Console.WriteLine($"Failed to deserialize filter, error: {e.Message}");
            return null;
        }
    }
}
